{{!-- Uncomment this in case you need to use the modal --}}
{{!-- <div class="modal-overlay hidden" trigger-class="open-modal" role="dialog" aria-labelledby="dialogTitle" aria-describedby="dialogDesc">
	<div class="dialog-box">
		<div class="modal-text">
			<h2 id="dialogTitle" class="dialog-title">This is the title</h2>
			<p id="dialogDesc">This is a sample modal box fully ADA Compliant.<br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		</div>
		<a class="citi-btn btn-ltblue" href="https://www.citi.com" target="_blank">Apply Now</a>
		<button class="close-dialog" type="button" aria-label="close">&times;</button>
	</div>
</div> --}}

<div class="speedbump-overlay hidden" trigger-class="open-speedbump" role="dialog" aria-labelledby="dialogTitle" aria-describedby="dialogDesc">
	<div class="dialog-box">
		<h2 id="dialogTitle" class="dialog-title">You are going to external site</h2>
		<p id="dialogDesc">That site has a privacy policy and security that are different from that of the Citigroup website.</p>
		<a class="continue citi-btn btn-ltblue" href="#" target="_blank">Continue</a>
		<button class="close-dialog" type="button" aria-label="close">&times;</button>
	</div>
</div>
