<div class="bottom-brandbar">  
    <span class="citi-blue"><i class="sprite_logos citi_logo">Citi | Welcome Whats Next</i></span><span class="blue" area-hidden="true">&nbsp;</span><span class="med-blue" area-hidden="true">&nbsp;</span><span class="dk-blue" area-hidden="true">&nbsp;</span><span class="lt-blue" area-hidden="true">&nbsp;</span>
</div>