<main>
<div class="wraper">
    <section class="headingAndRate greay">
        <div class="headingArea">
            <div class="heading">
                <h1>Get more money <span class="heading2ndLine">out of your money</span></h1>
            </div>
            <div class="discription">Open a High-Yield Online Savings Account</div>
        </div>
        <div id="stickyTrigger"></div>
        <div class="infoListWraper">
            <div class="info">
                <div class="bigNo">1.75<sup>%</sup></div>
                <div class="rateDetails">
                    <div class="text1">Annual Percentage Yield<sup>1</sup></div>
                    <div class="text2">Rate not available in all markets.<br>Offer expires 12/31/18.</div>
                </div>
            </div>
            <div class="listHolder">
            <ul>
                <li>no minimum deposit</li>
                <li>our highest rate ever</li>
                <li class="lastChild">no limit on earnings</li>
            </ul>
            </div>
        </div>
    </section>
    <section class="ctaArea blue">
        <div class="heading">You’re moments away from saving more</div>
        <a href="#">Start Saving</a>
    </section>
    <section class="benifitsArea white">
    <div class="heading">What sets Citibank apart</div>
        <div class="thumbarea">
        <div class="imageAndContent">
            <div class="icon savingRate"></div>
            <div class="iconHeading">14X higher than the<br>national average savings rate</div>
            <div class="iconDisc">Open a High-Yield Digital Savings Account today and be guaranteed a rate that will earn you fourteen-times the national average in savings.</div>
        </div>
        <div class="imageAndContent">
            <div class="icon deserve"></div>
            <div class="iconHeading">You deserve <span>the best</span></div>
            <div class="iconDisc">Citibank strives to be the best. Just in the past year, we have been Ranked #1 in Customer Satisfaction by ACSI and named as Kiplinger’s Best Bank in 2017.</div>
        </div>
        <div class="imageAndContent">
            <div class="icon network"></div>
            <div class="iconHeading">The largest fee-free <span>ATM network</span></div>
            <div class="iconDisc">With ATMs and branches in the places you live, work and play, you're never far from your money.</div>
        </div> 
        </div>
    </section>
</div>

</main>


