
<main>
	<section>
		<div id="listContainer" class="wrapper">
			<h2 class="list-title">The <span class="product"></span> Details</h2>
		</div>
	</section>
	<div id="stickyTrigger"></div>
	<section class="gray">
		<div class="wrapper">
			<h3>Experience the Citibank difference today</h3>
			<ul class="second">
				<li><strong>Convenient ATM Locations</strong>With ATMs in the places you live, work and play, you're never far from your money. <a href="<%= pFindATM.GetStringURL() %>" target="_blank">Find an ATM</a>.</li>
				<li><strong>Practical Digital Tools</strong>Keep your accounts at your fingertips virtually anytime, anywhere with Citi<sup>&reg;</sup> Online and the Citi Mobile<sup>&reg;</sup> App.<sup id="superscript" aria-label=""></sup></li>
				<li><strong>Safety &amp; Security</strong>We take measures to help protect your account with ongoing fraud monitoring, activity notifications and alerts.</li>
			</ul>
	</section>

	<section class="articles">

	</section>
	<p style="margin-top:300px;"></p>

</main>

