<nav class="sticky-bar">
    <div class="left-content">        
		<a class="citi-btn btn-ltblue" href="#" >Start Saving </a>
		<a class="link" href="#terms">You’re moments away from saving more</a>
    </div>
	{{!-- <div class="right-content">
		<p>Or apply by <a href=#"" target="_blank">visiting a Citibank branch</a></p>
	</div>	 --}}
</nav>
