<nav class="sticky-bar">
    <div class="left-content">        
		<a class="citi-btn btn-ltblue" href="#" >Find My Rate</a>
		<a class="link" href="#terms">See offer terms and conditions below.</a>
    </div>
	{{!-- <div class="right-content">
		<p>Or apply by <a href=#"" target="_blank">visiting a Citibank branch</a></p>
	</div>	 --}}
</nav>
