//Citi Colors
$citi_blue: #056dae;
$dark_blue: #002a54;

$near_black: #333333;
$light_gray: #eeeeee;
$white: #ffffff;
$medium_gray: #999999;
$dark_gray: #666666;

$seafoam: #00b0b9;
$teal: #007377;
$navy: #002d72;
$magenta: #c6007e;
$dark_magenta: #890c58;
$orange: #cb6015;
$bright_blue: #00bdf2;

$black: #000000;

$green: #006e0a;
$red: #d60000;

$citi_gold1: #b4975a;
$citi_gold2: #78622a;
$citi_gold3: #524013;

$citi_priority1: #0e2a48;
$citi_priority2: #091022;

// Other variables
$arial: Arial, Helvetica, sans-serif;